.container{
    height: 100vh;
    width: 100%;
    background-color: #F24C4C;
    color: white;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.head{
    font-size: 60px;
}